* {
    margin: 0;
    padding: 0;
    height: inherit;
    color: #717082;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #A18AFF;
}

.container {
    width: 700px;
    margin-top: 5%;
}

form {
    margin: 0 30px;
}

form #campo {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

form #bolinhas {
    width: 50px;
    margin-left: 30px;
}

form #bolinhas ul {
    display: flex;
    flex-direction: row;
    margin-left: 15px
}

form #bolinhas ul li {
    margin: 0 10px;
    color: #3FD4F4;
    font-size: 40px;
    line-height: 35px;
}

form #bolinhas ul li:last-child {
    color: #FD99AF;
}

form #bolinhas ul li:first-child {
    color: #FAC608;
}

form #ol {
    display: flex;
    flex-direction: row;
}

form #ol input {
    margin-left: 15px;
    border: 0;
    width: 400px;
    font-size: 14px;
}

form #ol input:focus {
    outline: 0;
}

#campo button {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    margin-right: 20px
}

#lista-tarefa {
    margin-bottom: 40px;
}

#lista-tarefa div {
    background-color: #fff;
    margin: 20px 30px 0 30px;
    padding: 5px;
    border-radius: 15px;
}

#lista-tarefa li {
    cursor: pointer;
    color: #FD99AF;
    margin-left: 50px;
    font-size: 40px;
    line-height: 35px;
}

#lista-tarefa div:nth-child(3n) li {
    color: #FAC608;
}

#lista-tarefa div:nth-child(2n) li {
    color: #3FD4F4;
}

#lista-tarefa div:nth-child(4n) li {
    color: #CA8BFE;
}

#lista-tarefa li p {
    color: #717082;
    font-size: 14px;
    float: left;
}

.checktarefa {
    text-decoration: line-through;
}

.invalido {
    border: solid 1px red;
    color: red;
}